<h1>List des jouets</h1>

<div class="cards">
      <% @toys.each do |toy| %>
        <%= link_to toy_path(toy), :action => 'go' do %>
          <div class="card-category" style="background-image: url(<%= toy.photo.attached? ? cl_image_path(toy.photo.key) : asset_path("ranger.jpg")%>)">
            <h3 class="title-card"><%= toy.name %></h3>
          </div>
        <% end %>
      <% end %>
</div>
<div>
    <%= link_to 'Add a toy', new_toy_path, class: "btn-add btn btn-primary"  %>
  </div>
<div class="container-btn">
</div>
